@font-face {
    font-family: 'Outfit';
    src: url('fonts/outfit/static/Outfit-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'YoungSerif';
    src: url('fonts/young-serif/YoungSerif-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Outfit';
    src: url('fonts/outfit/static/Outfit-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

body {
    font-family: 'Outfit', sans-serif;
}

h1,
h2,
h3 {
    font-family: 'Outfit', sans-serif;
    font-weight: bold;
    /* or normal, depending on the weight you want */
}

h3 {
    color: brown;
}

li{
    font-family: 'Outfit';
}

